name: Deploy to IBM Cloud OpenShift
on:
  push:
    paths:
      - "**/*.yml"
      - "**/*.yaml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Step 1: 安装 IBM Cloud CLI
      - name: Install IBM Cloud CLI
        run: |
          curl -fsSL https://clis.cloud.ibm.com/install/linux | sh
          ibmcloud --version

      # Step 2: 登录 IBM Cloud 并配置 OpenShift
      - name: Login to IBM Cloud & Configure OpenShift
        env:
          IBM_API_KEY: ${{ secrets.IBM_API_KEY }}
          REGION: ${{ vars.IBM_REGION }}
          RESOURCE_GROUP: ${{ vars.IBM_RESOURCE_GROUP }}
          CLUSTER_NAME: ${{ vars.IBM_CLUSTER }}
        run: |
          oc login --token=sha256~Mn1xXKs45wq-EgfzSWVjDH8P5XFk3jyw9HSFXnxf6ds --server=https://c104-e.ca-tor.containers.cloud.ibm.com:30689
          oc project acmeair-group11


      # Step 3: 执行你项目的部署脚本
      - name: Build and Deploy to OpenShift
        run: |
          cd acmeair/acmeair-mainservice-java/scripts
          ./buildAndDeployToOpenShiftNew.sh


